script.
    document.addEventListener('DOMContentLoaded', function () {

        document.querySelector('.screenshot').addEventListener('click', function () {
            html2canvas(document.querySelector("body"), {
                ignoreElements: function(element) {
                    // Specify the CSS selectors for elements to be ignored
                    return element.matches('.screenshot, .non-GSP-SS6, .profile-detail, .tier-status');
                }
            }).then(canvas => {

                // Create a link for downloading the image
                const downloadLink = document.createElement('a');
                downloadLink.href = canvas.toDataURL("image/png");
                downloadLink.download = `screenshot-#{profileId}-${Date.now()}.png`;

                // Optionally, you can trigger the download automatically
                downloadLink.click();

            });
        });

    });