doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
  body
    .container.text-center
      h1 Your profile is public 
        small (https://www.cloudskillsboost.google/public_profiles/*uuid*)
      form(action="/result", method="post" class="form-inline" style="margin-bottom: 16px;")
        .form-group
          label(for="url" style="margin-right: 8px;") Insert URL here:
          input(type="text", name="url", id="url" class="form-control" placeholder="Url is hint text" style="margin-right: 8px; width: 600px")
        button(type="submit" class="btn btn-primary" style="margin-left: 8px;") Submit
      img(src="https://services.google.com/fh/files/events/csj_vn_s6_1600_400_v2.png" class="img-responsive center-block" alt="Hình ảnh")
        
