doctype html
html
  include ./components/head.jade
  body.bg-md-google

    div.container-md.m-md-5.px-md-5.py-md-1.rounded.mt-5
    
      header
        h1.fs-28 Your profile is public 
          small.fs-20.text-muted (https://www.cloudskillsboost.google/public_profiles/*uuid*)

      main
          form.d-flex.flex-row.align-items-center.flex-wrap(action="/result", method="post")
            label(for="url", class="pr-sm-none pr-md-2 my-1") Insert URL here:
            input(type="text", name="url", id="url" class="form-control my-1" placeholder="Please insert your URL here" style="margin-right: 8px; width: 600px")
            button(type="submit" class="btn btn-primary pr-sm-none pr-md-2 my-1") Submit        
