doctype html
html
  head
    title Kết quả
  body
    h1 Kết quả
    // In ra nội dung HTML lấy được từ URL
    //- Sử dụng !{...} để render nội dung HTML thay vì hiển thị là text
    div!= htmlContent
